body {
    background-color:skyblue;
}

.container {
    padding: 25px;
    justify-content: center;
}

input.large-placeholder {
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid;
}

button {
    justify-content: center;
    margin-top: 25px;
    margin-left: 20px;
    width: 100px;
    height: 80px;
    text-align: center;
}
